<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Storage</title>
        <link rel="stylesheet" href="dist/css/rise.min.css">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    </head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <body>
        <div class="storage-modal" style="padding:40px">
            <div class="app-header">
                <div class="title-block">
                    <h1>Storage</h1> 
                </div>
                <div class="global-actions">
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> New Folder</button>
                    <button class="btn btn-primary btn-lg"><i class="fa fa-cloud-upload"></i> Upload a File</button>
                </div>
            </div>
            <div class="bar">
                <div class="col-sm-6">
                    <button class="btn btn-default btn-lg"><i class="fa fa-trash-o"></i> Trash</button>
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#foldersModal"><i class="fa fa-folder"></i> Backgrounds</button>
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#shareModal">Share Folder</button>
                </div>
                <div class="col-sm-6 text-right hidden-xs">
                    <button class="btn btn-default btn-lg" disabled="disabled">
                        <i class="fa fa-cloud-download"></i>
                    </button>
                    <button class="btn btn-default btn-lg" disabled="disabled">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
            <table class="table table-hover filetable">
                <thead>
                    <tr>
                        <th class="check-col"><input type="checkbox"></th>
                        <th class="copy-url"></th>
                        <th>Name</th>
                        <th class="text-right">File Type</th>
                        <th class="text-right">Size</th>
                        <th class="text-right">Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="check-col"><input type="checkbox"></td>
                        <td class="copy-url"><button class="btn btn-link"><i class="fa fa-link"></i></button></td>
                        <td class="file-name">
                            <a href="#"><i class="fa fa-image"></i> image.png</a>
                        </td>
                        <td class="type-col text-right">Image</td>
                        <td class="filesize-col text-right">100 MB</td>
                        <td class="datemod-col text-right">31/10/14 6:20 PM</td>
                    </tr>
                     <tr>
                        <td class="check-col"><input type="checkbox"></td>
                        <td class="copy-url"><button class="btn btn-link"><i class="fa fa-link"></i></button></td>
                        <td class="file-name">
                            <a href="#"><i class="fa fa-image"></i> images.png</a>
                        </td>
                        <td class="type-col text-right">Image</td>
                        <td class="filesize-col text-right">100 MB</td>
                        <td class="datemod-col text-right">31/10/14 6:20 PM</td>
                    </tr>
                     <tr>
                        <td class="check-col"><input type="checkbox"></td>
                        <td class="copy-url"><button class="btn btn-link"><i class="fa fa-link"></i></button></td>
                        <td class="file-name">
                            <a href="#"><i class="fa fa-image"></i> another-image.png</a>
                        </td>
                        <td class="type-col text-right">Image</td>
                        <td class="filesize-col text-right">100 MB</td>
                        <td class="datemod-col text-right">31/10/14 6:20 PM</td>
                    </tr>
                     <tr>
                        <td class="check-col"><input type="checkbox"></td>
                        <td class="copy-url"><button class="btn btn-link"><i class="fa fa-link"></i></button></td>
                        <td class="file-name">
                            <a href="#"><i class="fa fa-file"></i> document.doc</a>
                        </td>
                        <td class="type-col text-right">Document</td>
                        <td class="filesize-col text-right">100 MB</td>
                        <td class="datemod-col text-right">31/10/14 6:20 PM</td>
                    </tr>
                </tbody>
            </table>
            </div>


            <!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content show-1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Share Folder</h2>
      </div>

      <div class="modal-body">

        <button class="btn btn-default btn-block switch">Share with all Sub-Companies</button>

        <div class="form-group">
            <input class="form-control" placeholder="Search Sub-Companies">
        </div>

        <ul class="list-group">
          <li class="list-group-item">Sub-Company</li>
          <li class="list-group-item">Sub-Company</li>
          <li class="list-group-item">Sub-Company</li>
          <li class="list-group-item">Sub-Company</li>
          <li class="list-group-item">Sub-Company</li>
        </ul>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        <button type="button" class="btn btn-primary share-all"><i class="fa fa-check"></i> Share</button>
      </div>

    </div>

    <div class="modal-content show-2">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Sharing Options</h2>
      </div>
      
      <div class="modal-body">

      <div class="bar">
        <div class="col-sm-8"><h3>Sharing folder and subfolders with:</h3></div>
        <div class="col-sm-4 text-right"><button class="btn btn-primary edit-all">Edit</button></div>
        
      </div>
        <ul class="list-group">
          <li class="list-group-item">
<a href="#" class="pull-right">can edit <i class="fa fa-caret-down"></i></a>
          All Sub-Companies
          </li>
        </ul>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
      
    </div>

<script type="text/javascript">
     $(".share-all").click(function () {
   $(".show-1").toggle();
   $(".show-2").toggle();
});
          $(".edit-all").click(function () {
   $(".show-2").toggle();
   $(".show-1").toggle();
});
</script>
<script type="text/javascript">    
    $(".switch").click(function() {
    $(".switch").removeClass('btn-default');
    $(this).addClass('btn-primary');
});
</script>

  </div>
</div>

            
        </div>
    </body>
</html>