<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Storage</title>
        <link rel="stylesheet" href="dist/css/rise.min.css">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    </head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <body>

<div class="support-app ng-scope" ng-view="" off-canvas-content=""><ticket-details class="ng-scope ng-isolate-scope"><div class="container">
  

  <div ng-show="!error">
   <div class="row">
      <div class="col-md-12">
        <div class="ticket clearfix">
          <div class="pull-left status-tag  capitalize new">
            new
          </div>
          <div class="ticket-heading">
            <h4 class="ng-binding"><span class="text-muted ticket-id ng-binding">#3818</span> Sample Ticket</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Description -->
      <div class="col-sm-8">
        <p class="ticket-description ng-binding">Company: Rise Vision Inc.
Display: 
Schedule: 
Contact Name: Ghislaine Guerin
Contact Phone: 85
Contact Email: me@ghislaineguerin.com
Preferred Contact Method: email

Description: Description goes here</p>
        
        <attachment attachments="ticket.attachments" class="ng-isolate-scope"><!-- ngIf: attachments && attachments.length > 0 --><div class="ticket-attachments ng-scope" ng-if="attachments &amp;&amp; attachments.length > 0">
  <strong translate="" class="ng-scope">Attachments</strong>
  <div class="row">
    <!-- ngRepeat: attachment in attachments --><div ng-repeat="attachment in attachments" class="col-sm-12 ng-scope">
      <a ng-href="https://risevision.zendesk.com/attachments/token/XCkWMCIuBDCO0HQWtv2xm5q43/?name=Display_Setup.png" target="_blank" class="ng-binding" href="https://risevision.zendesk.com/attachments/token/XCkWMCIuBDCO0HQWtv2xm5q43/?name=Display_Setup.png">
       Display_Setup.png
      </a>
    </div><!-- end ngRepeat: attachment in attachments -->
  </div>
</div><!-- end ngIf: attachments && attachments.length > 0 -->
</attachment>
      </div>
      <!-- Meta -->
      <div class="col-sm-4">
        <p class="well text-muted">
          <span class="hidden-xs ng-binding"><strong class="ng-binding">Created By:</strong><br>
          undefined undefined<br><br>
          <strong class="ng-binding">Created On:</strong><br>
          December 18, 2014<br><br>
          <strong class="ng-binding">Last Updated:</strong><br>
          December 18, 2014</span>

          <span class="visible-xs ng-binding">Requested by <strong class="ng-binding">undefined undefined</strong> on <strong class="ng-binding">December 18, 2014</strong>. Last updated on <strong class="ng-binding">December 18, 2014</strong></span>
        </p>
      </div>
    </div>
  </div>
  <!-- ngIf: error -->
  <comment-list comments="ticket.comments" class="ng-isolate-scope"><div class="row">
    <div class="col-md-12 comments-list">

      <h4 class="ng-scope" translate="">Comments</h4>
      <!-- Comments list -->
      <!-- ngRepeat: comment in comments | offset:(page - 1) * pageSize | limitTo: pageSize --><div class="comment ng-scope" ng-repeat="comment in comments | offset:(page - 1) * pageSize | limitTo: pageSize">
        <div class="media">
          <div class="pull-left">
            <img class="media-object img-circle chat-head" ng-src="https://risevision.zendesk.com/system/photos/8929/4174/profile_image_677942720_491421.jpg" src="https://risevision.zendesk.com/system/photos/8929/4174/profile_image_677942720_491421.jpg">
          </div>
          <div class="media-body">
            <div class="user">
              <strong class="ng-binding">undefined undefined</strong>
              <small class="text-muted ng-binding">at Dec 18, 2014 1:19:39 PM</small>
            </div>
            <div class="panel panel-default">
              <div class="panel-body rise-vision-support" ng-class="{'rise-vision-support': $even }">
                <div ng-bind-html="trustHTML(comment.html_body)" class="ng-binding"><p>another comment</p></div>
              </div>
              <div class="panel-footer">
                <attachment attachments="comment.attachments" class="ng-isolate-scope"><!-- ngIf: attachments && attachments.length > 0 -->
</attachment>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end ngRepeat: comment in comments | offset:(page - 1) * pageSize | limitTo: pageSize --><div class="comment ng-scope" ng-repeat="comment in comments | offset:(page - 1) * pageSize | limitTo: pageSize">
        <div class="media">
          <div class="pull-left">
            <img class="media-object img-circle chat-head" ng-src="https://risevision.zendesk.com/system/photos/8929/4174/profile_image_677942720_491421.jpg" src="https://risevision.zendesk.com/system/photos/8929/4174/profile_image_677942720_491421.jpg">
          </div>
          <div class="media-body">
            <div class="user">
              <strong class="ng-binding">undefined undefined</strong>
              <small class="text-muted ng-binding">at Dec 18, 2014 1:19:22 PM</small>
            </div>
            <div class="panel panel-default">
              <div class="panel-body" ng-class="{'rise-vision-support': $even }">
                <div ng-bind-html="trustHTML(comment.html_body)" class="ng-binding"><p>Sample comment</p></div>
              </div>
              <div class="panel-footer">
                <attachment attachments="comment.attachments" class="ng-isolate-scope"><!-- ngIf: attachments && attachments.length > 0 --><div class="ticket-attachments ng-scope" ng-if="attachments &amp;&amp; attachments.length > 0">
  <strong translate="" class="ng-scope">Attachments</strong>
  <div class="row">
    <!-- ngRepeat: attachment in attachments --><div ng-repeat="attachment in attachments" class="col-sm-12 ng-scope">
      <a ng-href="https://risevision.zendesk.com/attachments/token/jbUsX7JqKDAyvtPd6UwIiH32u/?name=Screen_Shot_2014-12-17_at_5_21_21_PM_and_Screen_Shot_2014-12-17_at_5_21_34_PM.png" target="_blank" class="ng-binding" href="https://risevision.zendesk.com/attachments/token/jbUsX7JqKDAyvtPd6UwIiH32u/?name=Screen_Shot_2014-12-17_at_5_21_21_PM_and_Screen_Shot_2014-12-17_at_5_21_34_PM.png">
       Screen_Shot_2014-12-17_at_5_21_21_PM_and_Screen_Shot_2014-12-17_at_5_21_34_PM.png
      </a>
    </div><!-- end ngRepeat: attachment in attachments -->
  </div>
</div><!-- end ngIf: attachments && attachments.length > 0 -->
</attachment>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end ngRepeat: comment in comments | offset:(page - 1) * pageSize | limitTo: pageSize -->
      <ul class="pager ng-isolate-scope ng-valid" total-items="totalItems" max-size="pageSize" ng-model="page" ng-change="updatePage()">
  <li ng-class="{disabled: noPrevious(), previous: align}" class="previous disabled"><a href="" ng-click="selectPage(page - 1)" class="ng-binding">« Previous</a></li>
  <li ng-class="{disabled: noNext(), next: align}" class="disabled next"><a href="" ng-click="selectPage(page + 1)" class="ng-binding">Next »</a></li>
</ul>

      <!-- ngIf: error -->

    </div>
  </div>
</comment-list>
</div>


  <!-- Comment Box -->
  <div class="container comment-box">
    <div ng-class="{'container': visible.onNot('xs') }" class="container">
      <div class="row">
        <div class="col-md-12 ">
          <form role="form" name="ticketDetails" class="ticketDetails ng-pristine ng-invalid ng-invalid-required">
            <div class="form-group">
              <div class="checkbox">
              <label class="ng-binding">
                <input type="checkbox" ng-model="toggleStatus" class="ng-pristine ng-untouched ng-valid"> 
                This issue is solved. Close this Ticket. 
              </label>
            </div>
            </div>
            <div class="form-group">
              <textarea id="comment" name="comment" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Enter new comment" rows="3" ng-model="comment.body" ng-disabled="isTicketResolved() &amp;&amp; !toggleStatus"></textarea>
            </div>


 
            
            <!-- Camera/File Picker -->
            <file-picker file="fileObject" disabled="isTicketResolved() &amp;&amp; !toggleStatus" class="ng-isolate-scope"><!-- Camera/File Picker -->
<label class="file-picker">
  <span class="hidden-xs ng-scope" translate="">Attach an image or file</span>
  <i class="fa fa-camera file-picker-icon"></i>
  <input class="sr-only" type="file" accept="image/*;capture=camera" onchange="angular.element(this).scope().fileSelected(this)" ng-disabled="disabled">
</label>
</file-picker>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary btn-fixed-width ng-binding" ng-click="save(selectedTicketId,comment,toggleStatus)" ng-disabled="(isTicketResolved() &amp;&amp; !toggleStatus) || (!isTicketResolved() &amp;&amp; !comment.body &amp;&amp; ticketDetails.upload.$error.required &amp;&amp; !toggleStatus) || creatingComment" disabled="disabled">
                  Save 
                <i class="fa fa-white fa-check icon-right"></i>
              </button>
              <a href="#/" class="btn btn-default btn-fixed-width ng-binding">
                Cancel <i class="fa fa-white fa-times icon-right"></i>
              </a>
            </div>
          </form></div>
        
      </div>
    </div>
  </div>

</ticket-details>
</div>

    </body>
</html>