/* Variables
   ========================================================================== */

// Colors
$rise-green: #4AB767;
$rise-blue: #2D60AD;
$lighter-gray: #F2F2F2;
$light-gray: #E6E6E6;
$gray: #666666;
$dark-gray: #444444;
$danger: #D9534F;
$light-border-color: #DDDDDD;
$white: #FFFFFF;

// Borders
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid #ccc;
