@mixin ellipsis($line-number,$line-width) {
  max-height: 
    ($line-number * 20px);
  @if $line-width == small {
    width: 120px
  }
  @if $line-width == medium {
    width: 160px
  } 
  @if $line-width == large {
    width: 320px
  }
  @if $line-width == full {
    width: 100%
  }  
}

.text-action {
  color: $rise-blue;
  text-transform: capitalize;
  cursor: pointer;
}

.auto-height {
  margin:0 auto;
  min-height: 200px;
  overflow-y:auto;
}

.ellipsis {
  overflow: hidden;
  display: block;
}

span.ellipsis {
  display: inline-block;
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

.ellipsis-md {
  @include ellipsis(2,full);
}
.ellipsis-full {
  @include ellipsis(1,full);
}
.ellipsis-sm {
  @include ellipsis(1,medium);
}
.ellipsis-lg {
  @include ellipsis(1,large);
}
.ellipsis-xs {
  @include ellipsis(1,small);
}

.ahrefdisabled {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.highlighted {
  background: #FFFFE0;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-vertical-align {
  display: inline-block;
}
		
.radio-vertical-align input,
.radio-vertical-align label {
  display: inline-block;
  vertical-align: middle;	
}

.clickable {
  cursor: pointer;
}

.app-navigation svg {
  width: 32px;
  height: 32px;
  margin: 0;
}

svg {
  width: 64px;
  height: 64px;
}

.app-navigation path:first-child {
  fill:#4AB767;
}
.app-navigation path:last-child {
  fill:#2D60AD;
}

.file-empty-state path {
  fill:#969595;
  opacity: .65;
}


svg:hover path {
  fill: rgba(0,0,0,.7);
}

path {
  fill: rgba(0,0,0,.4);
}

/* Icon Colors */
.fa.icon-gray:before {
  color: #BBB;
}
.fa.icon-red:before {
  color: #cf371f;
}
.fa.icon-green:before {
  color: $rise-green;
}
.fa.icon-white:before {
  color: $white;
}

