/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * Part of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
.modal-open {
  overflow: auto;
}

.modal-custom > div {
    width: auto;
    display: table;
    .modal-content {
      p {
        display: inline-block;
        white-space: nowrap;
      }
    }
  @media (max-width: $screen-xs) {
    display: block;
    .modal-content {
      p {
        white-space: normal;
      }
    }
  }
}

.modal { z-index: 9999; }

.modal-backdrop.in { z-index: 9001; }

.modal-content {
  overflow: hidden;
}

.modal-header,
.modal-footer {
  border: none;
  overflow: hidden;

  .btn {
    .fa::before, .glyphicons::before {
      /* Display & Box Modes */
      margin-top: -2px;
      /* Visual */
      font-size: 18px;
    }
  }
}

.modal-footer {
  margin-top: 0;

  .btn-fixed-width {
    width: 102px;
  }

  input[type="checkbox"] { float: none; }
}

/* Sign In button that is part of a modal. */
.modal-dialog .sign-in,
.modal-dialog .sign-in:hover {
  @extend .btn-sign-in;

  /* Positioning */
  float: left;

  .fa::before, .glyphicons::before {
    line-height: 30px; /* TODO: Make this a variable. */
  }
}

/* Modal scrollable list
   ========================================================================== */
.scrollable-list {
  max-height: 400px;
  overflow: auto;
  cursor: pointer;
}


/* Media queries
   ========================================================================== */
@media (max-width: $screen-xs) {
  .modal-dialog { margin: 5px; }

  .modal-header {
    .modal-title { font-size: 20px; }
    .close { padding: 5px;}
  }

  .modal-footer {


    .btn-fixed-width {
      width: 96px;
    }
  }

}