.storage-full {

  /* ==========================================================================
     General Styles
     ========================================================================== */
  body {
    height: 100%;
  }

  .notifications {
    margin: 0px 5px;
  }

  .icon-green.fa:before {
    color: #4AB767;
  }
  .toolbar {
    margin: 10px 0;
  }
  .rotating-text {
    color: #777;
    margin-left: 5px;
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      height: 0;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      height: 0;
    }
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  .animated {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
#store-modal-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
