/* ==========================================================================
   SASS Extend
   ========================================================================== */
.button-hover {
  background: $lighter-gray;
  border-color: $light-gray;
}

/* ==========================================================================
   Standard tags
   ========================================================================== */
html,
body {
  /* Display & Box Model */
  height: 100%;

  /* Fir off Canvas Menu */
  overflow-x: hidden;

  /* Visual */
  background: $brand-bg;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*background: transparent;*/
}

/**
 * Start of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
html {
  overflow: hidden;
  -ms-overflow-style: scrollbar;
}

body { overflow: auto; }
/* End of workaround */

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a:hover {
  text-decoration: none;

  .fa::before, .glyphicons::before {
    color: $dark-gray;
  }

  .fa-danger::before , .glyphicon-danger::before{
    color: $danger;
  }
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav {
  .fa::before , .glyphicons::before{
    line-height: 30px;
  }
  >li>a.selected {
    color: $rise-blue;
  }
}

/* Hamburger icon */
.navbar-toggle {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Logo container */
.navbar-brand {
  height: auto;
  padding: 0;
  margin-left: 15px;
}

/* Primary Menu (left-hand side)
   ========================================================================== */
/* Expanded primary menu. */
.navbar-left {
  border-top: none;

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    > a {
      border: #fff solid 1px;

      /* Visual */
      font-weight: bold;
    }

    > a:hover,
    > .active > a,
    > .active > a:hover,
    .active > a:focus {
      /* Display & Box Model */
      border: 1px solid $light-gray;

      /* Visual */
      color: $rise-blue;
      background-color: $lighter-gray;
    }
  }

  /* First-level menu items. */
  > a {
    font-size: 14px;
    border-radius: 0;
  }
}

/* Actions Menu
   ========================================================================== */

/* First-level menu items. */
.navbar-default .actions-nav {
  /* Display & Box Model */
  padding: 5px 0;
  margin-bottom: 0;
  margin-top: 0;

  /* Visual */
  text-align: center;

  > li {
    /* Positioning */
    float: none;

    /* Display & Box Model */
    display: inline-block;

    /* Visual */
    vertical-align: top;

    ul {
      text-align: left;
    }

    > a {
      @extend .fa-box;
      @extend .glyphicon-box;
    }

    > a:hover {
      border-color: $light-gray;
      background-color: $lighter-gray;
    }

    > a:focus {
      background-color: transparent;
    }
  }

  /* Links in system messages */
  .open .dropdown-menu .system-message > a {
    /* Display & Box Model */
    display: inline-block;
    padding: 0;

    /* Visual */
    color: $rise-blue;
    background-color: transparent;
  }

  > li > a .label {
    /* Positioning */
    position: absolute;
    left: 60%;
    top: -2px;
    z-index: 1;

    /* Display & Box Model */
    padding: 4px 7px;

    /* Visual */
    font-size: 50%;
    vertical-align: middle;
  }

  .system-messages {
    left: 0;
  }

  .system-message {
    padding-left: 20px;
    padding-right: 20px;
    margin: 9px 0;
  }

  /* Shopping cart */
  > li.shopping-cart > a .label { left: 75%; }

  /* Company menu */
  .dropdown .company-menu { right: -62px; }
  .dropdown .company-menu::before { right: 80px; }
  .dropdown .company-menu::after { right: 81px; }
}

/* All Navbars
   ========================================================================== */
.navbar-default .navbar-nav {
  > li > a {
    border: 1px solid #fff;
  }

  /* CSS arrows at top of dropdowns. */
  .dropdown {
    .dropdown-menu {
      /* Positioning */
      top: 120%;
      left: auto;
      right: 0;

      /* Display & Box Model */
      min-width: 250px;

      .item-name {
        font-weight: bold;
      }

      .fa, .glyphicons {
        min-width: 40px;
      }
    }

    > .dropdown-menu::before,
    > .dropdown-menu::after {
      /* Positioning */
      position: absolute;

      /* Display & Box Model */
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);

      /* Visual */
      content: '';
    }

    > .dropdown-menu::before {
      top: -7px;
      right: 9px;
    }

    > .dropdown-menu::before,
    > .dropdown-menu::after {
      top: -7px;
      right: 23px;
    }

    > .dropdown-menu::after {
      /* Positioning */
      top: -6px;
      right: 24px;

      /* Display & Box Model */
      border-left-width: 6px;
      border-right-width: 6px;
      border-bottom-width: 6px;

      /* Visual */
      border-bottom-color: #fff;
    }
  }

  /* Expanded dropdown. */
  .open .dropdown-menu {
    /* Positioning */
    position: absolute;

    /* Display & Box Model */
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);

    /* Visual */
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;

    .dropdown-header {
      padding-left: 20px;
      padding-right: 20px;

      .fa , .glyphicons{
        min-width: 20px;
      }

      .fa::before, .glyphicons::before {
        font-size: 14px;
      }
    }

    > li > a {
      padding: 10px 20px;
    }
  }

  /* Top-level links and hover state of icons in expanded dropdown. */
  > .open {
    > a,
    > a:hover,
    > a:focus {
      .fa::before,.glyphicons::before {
        color: $dark-gray;
      }

      .fa-danger::before,.glyphicon-danger::before {
        color: $danger;
      }
    }
  }
}

/* App menu items
   ========================================================================== */
.menu-box {
  /* Display & Box Model */
  width: 50%;

  /* Visual */
  text-align: center;

  a {
    /* Display & Box Model */
    display: block;
    padding: 20px 10px;

    /* Visual */
    color: $gray;

    &:hover {
      background-color: $lighter-gray;
    }
  }

  span {
    /* Display & Box Model */
    display: block;
    width: 100%;

    /* Visual */
    font-size: 12px;
  }

  .fa, .glyphicons {
    @extend .fa-box;
    @extend .glyphicon-box;
    margin: 0 auto;
  }

  .fa::before , .glyphicons::before{ font-size: 40px; }
}

/* Company Selector
   ========================================================================== */
.company-search {
  padding-top: 20px;
}

/* Move Company
   ========================================================================== */
.move-company {
  label {
    font-weight: normal;
  }

  a {
    line-height: 34px;
  }

  h3 {
    font-size: 16px;
  }

  .to-company {
    margin-bottom: 20px;
  }
}

/* Company Settings
   ========================================================================== */
.company-settings .action-link {
  margin-left: 20px;
}

/* Presentation Selector */
.presentation-selector {
  margin-top: 20px;

  /* Styled the same as navbar-left. */
  .selector-header {
    /* Positioning */
    float: left;

    /* Display & Box Model */
    width: 100%;
    padding: 5px 15px 5px 0;
    border-bottom: $light-border;
    margin: 0;

    li {
      /* Positioning */
      float: left;

      /* Display & Box Model */
      display: block;
      margin-left: 5px;
    }

    a {
      /* Display & Box Model */
      display: block;
      padding: 3px 10px;
      border: 1px solid #fff;

      /* Visual */
      font-weight: bold;
      line-height: 32px;
      color: $gray;
    }

    a:hover,
    .active > a,
    .active > a:hover,
    .active > a:focus {
      /* Display & Box Model */
      border: 1px solid $light-gray;

      /* Visual */
      color: $rise-blue;
      background-color: $lighter-gray;
    }

    .close-button {
      float: right;
    }

    .close {
      line-height: 32px;
    }
  }

  .search {
    margin-bottom: 20px;
  }

  .panel-body {
    clear: both;
  }
}

/* Company Users
   ========================================================================== */
.company-users {
  .action-bar {
    margin-bottom: 10px;

    .sort {
      > a {
        color: #333;
      }

      > a:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  .edit {
    text-align: right;
  }
}

/* Profile
   ========================================================================== */
.profile-pic {
  /* Display & Box Model */
  width: 30px;
  height: 30px;

  /* Visual */
  border-radius: 50%;
}

/* Payment Methods */
.payment-methods {
  .list-group-item {
    padding: 10px 0;
  }

  .expiry {
    color: $gray;
  }
}

/* Media queries
   ========================================================================== */

@media (max-width: $screen-xs) {
  .navbar-default .actions-nav>li>a {
    min-width: 50px !important;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar-collapse {
      margin-left: 20px;

      .navbar-nav {
        > li {
          margin-left: 5px;

          > a {
            font-weight: bold;
            line-height: 32px;
          }
        }
      }
    }

    .navbar-nav {
      margin-top: 5px;
    }
  }

  .navbar-header { padding: 0; }

  .navbar-left .navbar-nav > li > a {
    padding: 0 10px;
    height: 40px;
    line-height: 40px !important;
  }

  .navbar-default .actions-nav {
    padding: 0;
    border-top: none;

    > li {
      /* Positioning */
      float: none;

      /* Display & Box Model */
      margin-left: 5px;
    }

    .dropdown {
      .system-messages {
        /* Display & Box Model */
        min-width: 425px;
      }
    }
  }

  .actions-nav:last-child { margin-right: 0; }

  /* Payment Methods */
  .payment-methods .edit { text-align: right; }
}


/* ==========================================================================
   Content
   ========================================================================== */
.wrapper {
  padding-bottom: 20px;
  /*background-color: $lighter-gray; Moved to body. */
}

/* ==========================================================================
   Forms
   ========================================================================== */

/* Drop-downs & text fields */
.dropdown-toggle,
.dropdown-toggle:hover,
.open .dropdown-toggle.btn-default,
.bfh-selectbox-toggle {
  color: #555;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
}

/* Input field focus */
input:focus {
  outline: none;
}

/* Turn off number input spinners in WebKit. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Close button
   ========================================================================== */
.close {
  opacity: 1;

  .fa::before , .glyphicons::before{ color: $gray; }
  &:hover .fa::before ,&:hover .glyphicons::before { color: $dark-gray; }
}

/* Sticky buttons
   ========================================================================== */
.sticky-buttons {
  /* Positioning */
  z-index: 10;

  /* Display & Box Model */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  /* Visual */
  background-color: #fff;

  > button {
    /* Display & Box Model */
    margin-bottom: 10px;
  }

  > a[type="button"] {
    /* Display & Box Model */
    margin-bottom: 10px;
  }
}

/* Toggle buttons (http://www.bootstrap-switch.org/)
   ========================================================================== */
.has-switch {
  /* Visual */
  border-radius: 8px;
  border-color: $light-border-color;

  /* Display & Box Model */
  min-width: 120px;
  margin-top: -1px;

  > div {
    > label,
    > span {
      /* Display & Box Model */
      padding-bottom: 7px;
      padding-top: 7px;

      /* Visual */
      font-size: 16px;
    }
  }
}

/* ==========================================================================
   Tables
   ========================================================================== */
.table {
  margin-top: 5px;

  > thead > tr > th {
    border-bottom-width: 0;
  }
  > tbody > tr > td {
    padding: 15px 8px;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  /* Display & Box Model */
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: $dark-border;

  /* Visual */
  background-color: #fff;
}

.social-text {
  display: inline-block;
  margin-bottom: 10px;
}

ul.social {
  display: inline-block;

  li {
    a {
      /* Display & Box Model */
      display: block;
      width: 24px;
      height: 24px;

      /* Visual */
      text-indent: -9999em;
      background: url("http://s3.amazonaws.com/Common-Test/css/images/social.png") 0 0 no-repeat;
    }
  }

  li.twit {
    a {
      background-position: -24px 0;
    }
  }

  li.in {
    a {
      background-position: -48px 0;
    }
  }

  li.gplus {
    a {
      background-position: -72px 0;
    }
  }

  li.email {
    a {
      background-position: -96px 0;
    }
  }
}

/* Media queries
   ========================================================================== */
@media (min-width: 768px) {
  .copyright {
    text-align: right;
  }
}

/* ==========================================================================
   Custom Classes
   ========================================================================== */

/* Buttons
   ========================================================================== */

.btn-default {
  background: #d4d4d4;
  .fa::before, .glyphicons::before { color: $dark-gray; }

  &:hover {
    @extend .button-hover;
  }

  &:hover,
  &:hover .fa::before,
  &:hover .glyphicons::before {
    color: $dark-gray;
  }
}

a.btn-primary:hover {
  .fa::before {
      color:$white;
  }
}

.btn-primary {
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  background: $rise-green;
  border-color: $rise-green;
  .fa::before, .glyphicons::before { color: $white; }
  &:hover, &:active, &:focus, &[disabled] {
    background: darken($rise-green, 10%);
    border-color: darken($rise-green, 10%);
  }
}

.btn-success:hover {
  background: #45b864;
  border-color: #45b864;
}

.btn-rv-help {
  @extend .btn-default;
  font-weight: 700;
  background-color: $btn-default-bg;

  &:hover,
  &:active {
    border-color: $btn-default-border;
    background-color: $btn-default-bg;
    color: $btn-default-color;
    @include box-shadow(none);
    .fa::before,
    .glyphicons::before {
     color: $gray !important;
    }
  }

  &.rounded { border-radius: 30px; }
}

.btn-github {
  @extend .btn-sm;
  @extend .btn-rv-help;
  @extend .rounded;
}

.btn-remove .fa::before,
.btn-remove .glyphicons::before {
  color: #d9534f;
  font-size: 16px;
}

.btn-all {
  background: #fff;
  border-color: #fff;

  .fa, .glyphicons {
    margin-top: -5px;
  }
}

.btn-back:hover .fa-back,
.btn-back:hover .glyphicons-back {
  background: url('//s3.amazonaws.com/rise-common-test/images/glyphicons-back-active.png') center no-repeat;
}

/* Sign In button */
.btn-sign-in {
  @extend .btn-success;

  .log_in { color: #fff; }
}

.sign-in,.top-auth-button {
  @extend .btn;
  @extend .btn-link;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: 0;
  color: $brand-primary !important;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.top-auth-button {
  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 5px;
  }
}

/* Stripe */
.stripe { margin-bottom: 10px; }

/* Glyphicon buttons
   ========================================================================== */
.btn-box {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  /* TODO: See about moving this to some sort of SASS extend. */
  display: block;
  padding: 3px 10px;
  border: 1px solid #fff;

  /* Visual */
  text-align: center;

  .fa::before ,
  .glyphicons::before{
    line-height: 30px;
  }

  &:hover {
    @extend .button-hover;
  }
}
/* (?) button to display a tooltip for help info
   Assumes use of glyphicon circle_question_mark
   Is to be used with .btn and .btn-link classes */
.btn-help {
  /* Display & Box Model */
  padding: 0 5px 2px 5px;

  /* Visual */

  .fa::before,
  .glyphicons::before {
    /* Visual */
    font-size: 18px;
  }

}

/* Boxed content
   ========================================================================== */
.content-box {
  /* Positioning */
  position: relative;

  /* Display & Box Model */

  /* Visual */
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

/* Horizontal rule
   ========================================================================== */
.hr-thick {
  border-top: 2px solid #cbcbcb;
}

.hr-dashed {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px dashed #cbcbcb;
}

/* Other
   ========================================================================== */
.title {
  margin-top: 10px;
  margin-bottom: 0;
}

.dropdown-title {
  color: $dark-gray;
  font-weight: bold;
}

.qty {
  width: 40px;
  height: 28px;
}

.danger {
  color: $danger;
}

.icon-left { margin-right: 10px; }
.icon-right { margin-left: 10px; }

.list-separator {
  border-bottom: 1px solid #eee;
  width: auto;
}

.error {
  font-weight: bold;
}

.checkbox-primary {
  > label {
    font-weight: bold;
  }
}

.label-disabled {
  color: $light-gray;
}


.add-left { margin-left: 10px !important; }
.add-right { margin-left: 10px !important; }

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.add-bottom-double { margin-bottom: 40px !important; }

.remove-top { margin-top: 0 !important; }
.half-top { margin-top: 10px !important; }
.add-top { margin-top: 20px !important; }
.add-top-double { margin-top: 40px !important; }

.remove-radius { border-radius: 0 !important; }

.btn-google-drive,
.btn-google-drive:active
.btn-google-drive.active {
  width: 30px;
  height: 30px;
  border: none !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-image: url(http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-drive.png);
  @include background-image-retina('http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-drive', 'png', 30px, 30px);
}


.btn-widget-icon-link,
.btn-widget-icon-link:active
.btn-widget-icon-link.active {
  width: 30px;
  height: 30px;
  border: none !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-image: url(http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-link.png);
  @include background-image-retina('http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-link', 'png', 30px, 30px);
}


.btn-widget-icon-storage,
.btn-widget-icon-storage:active
.btn-widget-icon-storage.active {
  width: 30px;
  height: 30px;
  border: none !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-image: url(http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-storage.png);
  @include background-image-retina('http://s3.amazonaws.com/Rise-Images/Icons/widget-icon-storage', 'png', 30px, 30px);
}

